<!DOCTYPE html>
<html lang="en">
<html>
    {{- partial "head.html" . -}}
    <body>
      {{- partial "nav.html" . -}}
      {{ if ne .Section "examples" }}
      <div class="main-wrapper d-flex flex-column sticky-footer-wrapper">
        {{- partial "header.html" . -}}
        <div class="flex-fill">
          {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
      </div>
      {{ else }}
        {{- block "main" . }}{{- end }}
      {{ end }}
    </body>
</html>
