{{ define "main" }}
<!-- Page Content -->
{{ if eq .Section "examples" }}
{{.Content}}
{{else}}
<div class="container">
	<div class="row">

		<!-- Post Content Column -->
		<div class="col-lg-8">

			<!-- Title -->
			<h1 class="mt-4">{{ .Title }}</h1>
			{{ if eq .Page.Section "posts" }}
			<!-- Author -->
			<p class="lead">
				by
				<a href="{{.Site.Params.social.twitter}}" target="_blank" rel="noopener noreferrer">{{.Site.Params.creator}}</a>
			</p>

			<hr>

			<!-- Date/Time -->
			<p>Posted {{.Date.Format "Monday, January 2, 2006"}}</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-fluid rounded" src="{{.Params.thumbnail}}" alt="">
			{{end}}
			<hr>
			{{.Content}}
			<hr>

		</div>
		<div class="col-md-4">
			{{- partial "profile.html" . -}}
		</div>

	</div>

</div>
{{ end }}
{{ end }}
