{{ define "main" }}
	    <section class="blog-list p-md-5">
		    <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h1 class="my-4">Recent Posts
                <small></small>
              </h1>
          {{ range where .Pages "Section" "posts"}}
            {{ range .Pages}}

            <!-- Blog Post -->
            <div class="card mb-4">
              <img class="card-img-top" src="{{.Params.thumbnail}}" alt="Card image cap">
              <div class="card-body">
                <a href="{{.Permalink}}"><h2 class="card-title">{{ .Title }}</h2></a>
                <p class="card-text">{{ .Summary }}</p>
                <a href="{{.Permalink}}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                Posted {{.Date.Format "January 2, 2006"}} by
                <a href="{{.Site.Params.social.twitter}}" target="_blank" rel="noopener noreferrer">{{.Site.Params.creator}}</a>
              </div>
            </div>
            {{end}}
          {{ end }}
          <!-- <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul> -->
        </div>
        <div class="col-md-4">
					{{- partial "profile.html" . -}}
        </div>

		    </div>
        </div>
	    </section>
{{ end }}
