<section class="py-5 bg-light py-5">
  <div class="container text-center">
    <h2 class="heading">Newsletter </h2>
    <div class="intro">Subscribe to get my latest content by email.</div>
    <script async data-uid="b6e72799f4" src="https://kris.ck.page/b6e72799f4/index.js"></script>
  </div><!--//container-->
</section>
<footer class="footer py-2 bg-dark">
  <div class="container text-center text-white">
    <small class="copyright">Made with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="https://github.com/krishamoud" target="_blank">Kris Hamoud</a></small>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
<script src="/js/blog.js"></script>
