{{ $page := .Page }}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">{{.Site.Title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
     <ul class="navbar-nav ml-auto">
       <li class="nav-item {{if eq .RelPermalink "/"}}active{{end}}">
         <a class="nav-link" href="/">Home</a>
       </li>
       {{ range where .Site.Pages "Section" "pages"}}
        {{ range .Pages}}
        {{ $currentPath := printf "/pages/%s/" (lower .Title) }}
        <li class="nav-item {{ if eq $currentPath $page.RelPermalink}}active{{end}}">
            <a class="nav-link" href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{end}}
      {{ end }}
     </ul>
    </div>
  </div>
</nav>
