{{ $page := .Page }}
<div class="card profile" style="margin-top: 6rem;">
  <img class="card-img-top" src="{{ .Site.Params.profilePic }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{.Site.Params.creator}}</h5>
      <p class="card-text">{{ .Site.Params.bio }} <a href="{{.Site.Params.companyurl}}" target="_blank" rel="noopener noreferrer">@{{.Site.Params.company}}</a></p>
      {{ range $key, $value := .Site.Params.social }}
        <a href="{{ $value }}" class="card-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-{{ $key }} fa-fw"></i></a>
      {{ end }}
      <hr>
    <h5 class="card-title">Newsletter</h5>
    <p class="card-text">Subscribe to get my latest content by email.</p>
    <script async data-uid="d2bb073bb7" src="https://kris.ck.page/d2bb073bb7/index.js"></script>
  </div>
</div>
